@use "@/app/styles/main" as *;

.form-3-div1 {
  @extend .div1;
  gap: 30px;
  padding: 30px;
  flex-direction: column;
  margin-bottom: 40px;
}

.form-3-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.form-3-divform {
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: min-content;
}

.form-3-div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-right: 20px;
  }
}
